<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
    <title>Mutes front-end</title>
  </head>

  <body class="container">

    <div class="container">
      <div class="row">
        <div class="col-9">
          <nav class="navbar">
            <a class="navbar-brand" href="/">Mutes Front End!</a>
          </nav>
        </div>

        <div class="col">
          <div class="container mt-2">
            <button type="button" class="resetBtn btn btn-primary mb-3">Reset</button>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <ul class="list-unstyled text-center list-group col">

        </ul>

        <div class="container col">
          <div class="container border rounded">
            <h4 class="text-center mt-3">Add a book</h4>
            <form id="new-book-form">
              <div class="form-group">
                <label for="newBookTitle">Book Title</label>
                <input name="title" type="text" class="form-control" id="newBookTitle" placeholder="Ex: Fire Upon the Deep" aria-describedby="newBookHelp">
                <small id="newBookHelp" class="form-text text-muted">Enter the title of a new book</small>
              </div> <!-- end form-group -->

              <div class="form-group">
                <label for="newBookAuthor">Author</label>
                <input name="author" type="text" class="form-control" id="newBookAuthor" placeholder="Ex: Vernor Vinge" aria-describedby="newBookAuthorHelp">
                <small id="newBookAuthorHelp" class="form-text text-muted">Full name of the Author(s)</small>
              </div> <!-- end form-group -->

              <div class="form-group">
                <label for="newBookImg">Image</label>
                <input name="image" type="text" class="form-control" id="newBookImg" placeholder="Ex: https://upload.wikimedia.org/wikipedia/en/4/4a/A_Fire_Upon_the_Deep.bookcover.jpg" aria-describedby="newBookImgHelp">
                <small id="newBookImgHelp" class="form-text text-muted">Link to book graphic</small>
              </div> <!-- end form-group -->

              <div class="form-group">
                <label for="newBookReleaseDate">Image</label>
                <input name="releaseDate" type="text" class="form-control" id="newBookReleaseDate" placeholder="Ex: 1992" aria-describedby="newBookReleaseDateHelp">
                <small id="newBookReleaseDateHelp" class="form-text text-muted">Date Originally Published</small>
              </div> <!-- end form-group -->

              <div class="container text-center mb-4">
                <button type="submit" class="btn btn-primary new-book-submit">Submit</button>
              </div>
            </form> <!-- end form -->
          </div>
        </div> <!-- create book form -->
      </div>
    </div>




  </body>
</html>
